@model Appointment
@using kchalupa.Web.HeartMedicalCenter.Models

@{
  ViewBag.Title = "Appointment";
}

<h2>Please fill out the following form to make your appointment.</h2>

<h3>Appointment </h3>
<table class="table table-striped formTable">
  <tbody>
    <tr>
      <td>@Html.Label("Id:")</td>
      <td>@Html.Label(@Model.Id.ToString())</td>
    </tr>
    <tr>
      <td>@Html.Label("Name:")</td>
      <td>@Html.TextBoxFor((p) => p.Name)</td>
    </tr>
    <tr>
      <td>@Html.Label("Address:")</td>
      <td>@Html.TextBoxFor((p) => p.Address)</td>
    </tr>
    <tr>
      <td>@Html.Label("City:")</td>
      <td>@Html.TextBoxFor((p) => p.City)</td>
    </tr>
    <tr>
      <td>@Html.Label("State:")</td>
      <td>@Html.TextBoxFor((p) => p.State)</td>
    </tr>
    <tr>
      <td>@Html.Label("Zip Code:")</td>
      <td>@Html.TextBoxFor((p) => p.ZipCode)</td>
    </tr>
    <tr>
      <td>@Html.Label("BirthDate:")</td>
      <td>@Html.EditorFor((p) => p.Birthdate)</td>
    </tr>
    <tr>
      <td>@Html.Label("Is This A New Patient:")</td>
      <td>@Html.CheckBoxFor((p) => p.IsNewPatient, new { id = "myCheckBox", onClick = "" })</td>
    </tr>
    <tr>
      <td>@Html.Label("Insurance Provider:")</td>
      <td>@Html.DropDownListFor((p) => p.InsuranceProvider, Appointment.GetInsuranceProviders())</td>
    </tr>
    <tr>
      <td>@Html.Label("Member Number:")</td>
      <td>@Html.TextBoxFor((p) => p.MemberNumber)</td>
    </tr>
    <tr>
      <td>@Html.Label("Appointment Date:")</td>
      <td>@Html.EditorFor((p) => p.AppointmentDate)</td>
    </tr>
    <tr>
      <td>@Html.Label("Reason For Appointment:")</td>
      <td>@Html.TextAreaFor((p) => p.ReasonForAppointment)</td>
    </tr>
  </tbody>
</table>

<div id="patientHistory" style="display: none;">
  <h3>Patient History </h3>
  <table class="table table-striped formTable">
    <tbody>
      <tr>
        <td>@Html.Label("Conditions:")</td>
        <td>@Html.TextAreaFor((p) => p.PatientsHistory.Conditions)</td>
      </tr>
      <tr>
        <td>@Html.Label("Medications:")</td>
        <td>@Html.TextAreaFor((p) => p.PatientsHistory.Medications)</td>
      </tr>
      <tr>
        <td>@Html.Label("Allergies:")</td>
        <td>@Html.TextAreaFor((p) => p.PatientsHistory.Allergies)</td>
      </tr>
      <tr>
        <td>@Html.Label("Physicians:")</td>
        <td>@Html.TextAreaFor((p) => p.PatientsHistory.Physicians)</td>
      </tr>
    </tbody>
  </table>
</div>

<table>
  <tbody>
    <tr>
      <td></td><td><input type="reset" value="Reset" /> <input type="submit" value="Submit" /></td>
    </tr>
  </tbody>
</table>
