@model Appointment

@{
  var insuranceProviders = new List<SelectListItem>();

  insuranceProviders.Add(new SelectListItem() { Text = "Aetna", Value = "Aetna" });
  insuranceProviders.Add(new SelectListItem() { Text = "Blue Cross Blue Shield", Value = "Blue Cross Blue Shield" });
  insuranceProviders.Add(new SelectListItem() { Text = "Fidelis Care", Value = "Fidelis Care" });
  insuranceProviders.Add(new SelectListItem() { Text = "Health First", Value = "Health First" });
  insuranceProviders.Add(new SelectListItem() { Text = "UnitedHealthCare", Value = "UnitedHealthCare" });

}

<script lang="JavaScript">

  /**
   * Handles the patient birthdate being clicked.  Display the date picker.
   */
  function patientbBirthDateClick(event)
  {
    alert('patient birthdate clicked');
    $("patientBirthDate").datepicker();
  } // patientBirthDateClick( event )


  /**
   * Handles the appointment date being clicked.  Display the date picker.
   */
  function appointmentDateClick(event)
  {
    alert('appointmentDate clicked');
    $("appointmentDate").datepicker();
  } // appointmentDateClick( event )


  /**
   * Handles the new patient checkbox being clicked.  We want to hide the requisite rows if this is a return, or show if new patient.
   */
  function newPatientClick(event)
  {
    if (event.target.checked)
    {
      $('.patientHistory').css('display', 'table-row');
    }
    else
    {
      $('.patientHistory').css('display', 'none');
    }
  } // newPatientClick( event )

</script>

<div>
  <p><h3>@ViewBag.Title</h3></p>
  @using (Html.BeginForm())
  {
    <table class="table table-striped formTable">
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>@Html.Label("Name:")</td>
          <td>@Html.TextBoxFor((p) => p.Name)</td>
        </tr>
        <tr>
          <td>@Html.Label("Address:")</td>
          <td>@Html.TextBoxFor((p) => p.Address)</td>
        </tr>
        <tr>
          <td>@Html.Label("City:")</td>
          <td>@Html.TextBoxFor((p) => p.City)</td>
        </tr>
        <tr>
          <td>@Html.Label("State:")</td>
          <td>@Html.TextBoxFor((p) => p.State)</td>
        </tr>
        <tr>
          <td>@Html.Label("Zip Code:")</td>
          <td>@Html.TextBoxFor((p) => p.ZipCode)</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>@Html.Label("Home Phone:")</td>
          <td>@Html.TextBoxFor((p) => p.HomePhone)</td>
        </tr>
        <tr>
          <td>@Html.Label("Cell Phone:")</td>
          <td>@Html.TextBoxFor((p) => p.CellPhone)&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor((p) => p.AllowTextContact)&nbsp;@Html.Label("Allow Text Message Communication")</td>
        </tr>
        <tr>
          <td>@Html.Label("BirthDate:")</td>
          <td>@Html.EditorFor((p) => p.PatientBirthDate, new { id = "patientBirthDate", onclick = "patientbBirthDateClick(event);" })</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>@Html.Label("Is This A New Patient:")</td>
          <td>@Html.CheckBoxFor((p) => p.IsNewPatient, new { onClick = "newPatientClick(event);" })</td>
        </tr>
        <tr>
          <td>@Html.Label("Insurance Provider:")</td>
          <td>@Html.DropDownListFor((p) => p.InsuranceProvider, insuranceProviders)
        <tr>
          <td>@Html.Label("Member Number:")</td>
          <td>@Html.TextBoxFor((p) => p.MemberNumber)</td>
        </tr>
        <tr>
          <td>@Html.Label("Appointment Date:")</td>
          <td>@Html.EditorFor((p) => p.AppointmentDate, new { id = "appointmentDate", onclick = "appointmentDateClick(event);" })</td>
        </tr>
        <tr>
          <td>@Html.Label("Reason For Appointment:")</td>
          <td>@Html.TextAreaFor((p) => p.ReasonForAppointment)</td>
        </tr>
        <tr class="patientHistory">
          <td></td>
          <td></td>
        </tr>
        <tr class="patientHistory">
          <td>@Html.Label("Conditions:")</td>
          <td>@Html.TextAreaFor((p) => p.PatientHistory.Conditions)</td>
        </tr>
        <tr class="patientHistory">
          <td>@Html.Label("Medications:")</td>
          <td>@Html.TextAreaFor((p) => p.PatientHistory.Medications)</td>
        </tr>
        <tr class="patientHistory">
          <td>@Html.Label("Allergies:")</td>
          <td>@Html.TextAreaFor((p) => p.PatientHistory.Allergies)</td>
        </tr>
        <tr class="patientHistory">
          <td>@Html.Label("Physicians:")</td>
          <td>@Html.TextAreaFor((p) => p.PatientHistory.Physicians)</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Submit" />&nbsp;<input type="reset" value="Reset" /></td>
        </tr>
      </tbody>
    </table>
  }
</div>

